# TMDB movies

Load all the necessary packages

The TMDB movies dataset contains detailed information about movies including ratings, financials, crew, cast, language, genres, and production details. 

### Loading the data

Load the dataset into a DataFrame named `df_movies` and inspect the first rows of the DataFrame.

### Top movies in 2000

Create a new DataFrame `df_2000` with all movies released in the year 2000. Inspect the amount of rows in the new DataFrame.

Create a new DataFrame `df_topmovies` which only incorporates the rows with the movies of the year 2000 who get an average score of at least 9. Compare the total amount of rows of the original dataframe with these of df_topmovies.

In `df_topmovies`, only include the movies with a valid release date and runtime.

Add a column "final_run" displaying the last day the film was screened in theaters.

Show how many films were released each month using a barplot.
* Use appropriate labels and titles
* Change the ticks and tick labels so every month has a tick and as label the abbreviation of the month (Jan, Feb, March etc.)
* Change the color of the graph
* Show a grid
* Show the legend

### All movies

For the following questions, work with the dataframe `df_movies`.

Extract following information from the release date and store this in new columns:
    day of the week, day of the month, month, year

Create a new column `profit`, derived from subtracting the budget from the revenue. Remove all rows which do not contain valid revenue or budget data. Also create a column with booleans indicating wheter a film `is_profitable` (profit >0) or not.

**What are the top 10 most frequent genres?**

We are looking for the individual values, not the unique entries of genre combinations. It should be clear that you will have to do some data manipulations in order to get the answer.

To get you started: When analysing the video games dataset, we have seen a method to create separate rows (each with the same index) to represent multiple values of a column. This method takes a list-like object as argument. 

Tip: tackle this assignment step by step.

**Number of actors and budget**


Plot the data so we can visually evaluate whether there seems a relation between the number of actors playing in a movie and the budget of the movie. Create a new_dataframe containing only the relevant columns.

Create the same plot but now only containing the data of movies who's budget did not exceed 20 000 000.

**Votes**


Show the total number of votes for the year with the most releases.

More exercises? Feel free to explore the dataset further.